<div class="container w-50 mt-5">
    <h1>Add Product</h1>
    <form action="/product/" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value="<%= product.name %>" name="name" placeholder="Product name">
            <label for="floatingInput">Product Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value="<%= product.info %>"  name="info" placeholder="Information">
            <label for="floatingInput">Information</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value="<%= product.price %>"  name="price" placeholder="price">
            <label for="floatingInput">price</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value="<%= product.quantity %>"  name="quantity" placeholder="quantity">
            <label for="floatingInput">quantity</label>
        </div>
        <div class="form-floating mb-3">
            <select name="category">
                <%
                categories.map(category=>{%>
                    <option value="<%= category.id %>"><%= category.name %></option>
                <%})
                %>
                
                
              </select>
        </div>
          
        <div class="form-floating mb-3">
            <input type="submit" class=" btn btn-primary"  value="Save">
        </div>
          
    </form>
</div>