<div class="container mt-5">
    <a type="button" class="btn btn-primary btn-lg" href="/Product/add">Add New Product</a>
    <h1>List Product</h1>

    <table class="table table-dark table-hover">
        <tr>
            <th> Name</th>
            <th> Info</th>
            <th> Price</th>
            <th> Quantity</th>
            <th> Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        
            <% 
                products.map(Product=>{%>
                    <tr>
                    <td><%= Product.name %></td>
                    <td><%= Product.info %></td>
                    <td><%= Product.price %></td>
                    <td><%= Product.quantity %></td>
                    <td><%
                        if(Product.category)
                        {%> 
                        <%=  Product.category.name %> 
                        <%}
                        %>
                    </td>
                    <td><a href="/"  class="btn btn-warning">Edit</a></td>
                    <td> <%- include('../part/deleteForm',{url:`/product/${Product._id}?_method=DELETE`}) %></a></td>
                </tr>
                <%})
            %>
            
    </table>
</div>